<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    
    <script type="text/javascript">
        function validateForm()
        {
            var text1 = document.getElementById('input1').value;
            var text2 = document.getElementById('input2').value;

            if (text1 == '' && text2 == ''){
                return false;
            }
            else{
                return true;
            }
             
        }
    </script>
    <title>IT4853</title>
</head>

<body>
    <div class="container">
        <h1 style="color: indigo;">Search</h1>

        <form class="form" action="/search" method="POST" onsubmit="return validateForm()">
            <div>
                <input class="form-control form-input" id ="input1" type="text" name="name_input" placeholder=" Tên bài hát" />
                <input class="form-control form-input" id ="input2" type="text" name="lyric_input" placeholder=" Lời bài hát"/>
            </div>
            <br><br>
            <div>
            <label class="radio-inline">
                <input type="radio" name="options" value="Tiền chiến">Tiền chiến
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" value="Nhạc trịnh">Nhạc Trịnh
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" value="Trữ tình">Trữ tình
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" value="Nhạc trẻ">Nhạc trẻ
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" value="Cách mạng">Cách mạng
            </label>
            </div>

            <input type="submit" name="action" value="Search" class="btn btn-primary" />
            
        </form>
    </div>
</body>

</html>