<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        function validateForm()
        {
            var text = document.getElementById('input').value;
                
            if (text == ''){
                return false;
            }
            else{
                return true;
            }
             
        }
    </script>
    <title>search</title>
</head>

<body>
<div class="container">
    <h1>Search</h1>
    
    <form action="/search" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
            <div class="col-xs-3">
                <input class="form-control" id="input" type="text" name="user_input" />
                <br>
                <input type="submit" name="action" value="Search" class="btn btn-primary" />
                <br>
                <br>
            </div>
        </div>
        
        <label class="radio-inline">
            <input type="radio" name="options" value="Tiền chiến">Tiền chiến
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="trịnh">Nhạc Trịnh
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="Trữ tình">Trữ tình
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="Nhạc trẻ">Nhạc trẻ
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="Cách mạng">Cách mạng
        </label>
        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

</body>

</html>